<form action="/city/<%= param_city %>/add" method="POST" class="mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <div class="form-group">
            <label htmlFor="code" class="control-label">Code</label>
            <input placeholder="Code" type="text" class="form-control" id="code" name="code" required>
        </div>
        <div class="form-group">
            <label htmlFor="temperature" class="control-label">Temperature</label>
            <input placeholder="Temperature" type="number" class="form-control" id="temperature" name="temperature"
                required>
        </div>
        <div class="form-group">
            <label htmlFor="windSpeed" class="control-label">Wind Speed</label>
            <input placeholder="Wind Speed" type="number" class="form-control" id="windSpeed" name="windSpeed" required>
        </div>
        <div class="form-group">
            <label htmlFor="windDirection" class="control-label">Wind Direction</label>
            <input placeholder="Wind Direction" type="number" class="form-control" id="windDirection"
                name="windDirection" required>
        </div>
        <div class="form-group">
            <label htmlFor="airPressure" class="control-label">Air Pressure</label>
            <input placeholder="Air Pressure" type="number" class="form-control" id="airPressure" name="airPressure"
                required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Add Measurement</button>
</form>