<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <% if(currentUser) {%>
            <a class="navbar-brand" href="/dashboard">Weathertop</a>
            <% } else {%>
                <a class="navbar-brand" href="/">Weathertop</a>
                <% } %>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item d-flex">
                                <% if(currentUser) {%>
                                    <a class="nav-link" id="dashboard" href="/dashboard">Dashboard</a>
                                    <span class="nav-link" id="username">
                                        <%= user.username %>
                                    </span>
                                    <button type="button" class="btn btn-dark btn-block submit-btn nav-link mx-2">
                                        <a id=" logout" href="/logout"
                                            style="color: white; text-decoration: none;">Logout</a>
                                    </button>

                                    <% } else {%>
                                        <a class="nav-link" id="dashboard" href="/login">Login</a>
                                        <a class="nav-link" id="register" href="/register">Register</a>
                                        <% } %>
                            </li>
                        </ul>
                    </div>
    </div>
</nav>