<% layout('layouts/boilerplate') %>

    <section class="error">
        <div class="container--pall row">
            <div class="col-6 offset-3 pt-5 pb-5">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading pb-2">
                        <%= err.message %>
                    </h4>
                </div>
            </div>
        </div>
    </section>