<% layout('layouts/boilerplate') %>


    <h2>
        Register
    </h2>

    <div class="tab-content container-fluid d-flex justify-content-center">

        <form action="/register" method="POST">

            <div class="form-outline mb-4">
                <input type="text" id="registerName" class="form-control" required />
                <label class="form-label" for="registerName">Name</label>
            </div>

            <div class="form-outline mb-4">
                <input type="text" id="registerUsername" class="form-control" required />
                <label class="form-label" for="registerUsername">Username</label>
            </div>

            <div class="form-outline mb-4">
                <input type="email" id="registerEmail" class="form-control" required />
                <label class="form-label" for="registerEmail">Email</label>
            </div>

            <div class="form-outline mb-4">
                <input type="password" id="registerPassword" class="form-control" required />
                <label class="form-label" for="registerPassword" aria-required="true">Password</label>
            </div>

            <div class="form-outline mb-4">
                <input type="password" id="registerConfirmPassword" class="form-control" required />
                <label class="form-label" for="registerConfirmPassword">Confirm password</label>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-3">Register</button>

            <div class="text-center">
                <p>Have account? <a href="login">Login</a></p>
            </div>
        </form>

    </div>